@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
   background: rgba(0, 0, 100, 0.08);
   border: 1px solid rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(18px);
}

.error {
   background: rgba(255, 0, 0, 0.12);
   border: 1px solid rgba(255, 0, 0, 0.15);
}

.wind {
   @apply absolute w-full h-[2px] bg-white relative transition-all duration-[1.2s];
   animation: move-wind cubic-bezier(0.5, 2, 1.34);
}

.wind::after {
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: white;
   top: -200%;
   right: 100%;
   clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.wind::before {
   content: '';
   position: absolute;
   width: 10px;
   height: 10px;
   border: 2px solid white;
   border-radius: 50%;
   top: -200%;
   right: -10%;
}

.wind-compass {
   @apply -z-50 w-[110px] h-[110px] border-[2px] border-dashed border-blue-400 mx-auto rounded-full -translate-y-[10%];
}

.wind-letter {
   @apply absolute w-5 h-5 flex items-center justify-center text-white font-bold text-sm;
}

.N {
   @apply left-1/2 -translate-x-1/2 -top-[10%];
}

.S {
   @apply left-1/2 -translate-x-1/2 -bottom-[10%];
}

.W {
   @apply top-1/2 -translate-y-1/2 -left-[10%];
}

.E {
   @apply top-1/2 -translate-y-1/2 -right-[10%];
}

.wind-speed {
   @apply absolute w-3/5 h-3/5 rounded-full text-center text-[15px] z-10 pt-[5%];
}

.wind-speed::after {
   @apply absolute top-0 left-0 w-full h-full bg-sky-300 rounded-full -z-10;
   content: '';
}
